<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <switches>
      <!-- 
      And check the contents of the Temp Directory by going Start|Run and typing in "%temp%" and pressing enter. 
      I then sort by Date Modifed.
      -->
      <add name="XmlSerialization.Compilation" value="1"/>
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
